[submodule "docs/screenshots"]
	path = docs/screenshots
	url = https://github.com/TurboWarp/desktop-screenshots
[submodule "scratch-gui"]
	path = scratch-gui
	url = https://github.com/AstraEditor/scratch-gui.git
