# pnpm is different from npm, 
# So we need let `pnpm install`is same as `npm install`.
# It's too troublesome to solve dependencies problems one by one.
shamefully-hoist=true
registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
disturl=https://npmmirror.com/mirrors/node/
strictDepBuilds=false
