[Desktop Entry]
Name=AstraEditor
# Change the path to match where you install the app.
Exec=/opt/AstraEditor/astraeditor-desktop %U
Terminal=false
Type=Application
Icon=org.astraeditor.AstraEditor
StartupWMClass=astraeditor-desktop
Comment=AstraEditor is a Scratch mod with a compiler to run projects faster,based TurboWarp, dark mode for your eyes, a bunch of addons to improve the editor, and more.
MimeType=application/x.scratch.sb3;application/x.scratch.sb2;application/x.scratch.sb;
Categories=Development;
Keywords=scratch;
