name: Push to AUR
on:
  #workflow_dispatch:
  workflow_run:
    workflows: ["Release"]
    types: [completed]
jobs:
  push_to_aur:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: astraeditor-bin
    steps:
    - name: generate PKGBUILD and .SRCINFO
      run: |
        TAG=${{ github.event.workflow_run.head_branch }}
        echo '${TAG}'
        VERSION=${TAG#v}
        cat > PKGBUILD << EOF
        # Maintainer: LuoTianyi_arm64 <2153585992@qq.com>
        options=(!strip !debug)
        pkgname=astraeditor-bin
        provides=('astraeditor')
        conflicts=('astraeditor')
        pkgver=${VERSION}
        pkgrel=1
        pkgdesc='AstraEditor is a TurboWarp mod used to add more practical features to make your writing lightning fast.'
        arch=('x86_64' 'aarch64' 'armv7h')
        url='https://github.com/AstraEditor/'
        license=('GPL3')
        depends=('alsa-lib' 'gtk3' 'nss' 'libxss' 'xdg-utils' 'hicolor-icon-theme')
        source_x86_64=("astraeditor-\${pkgver}-x86_64.deb::https://github.com/AstraEditor/Desktop/releases/download/${TAG}/AstraEditor-linux-amd64-\${pkgver}.deb")
        source_armv7h=("astraeditor-\${pkgver}-armv7h.deb::https://github.com/AstraEditor/Desktop/releases/download/${TAG}/AstraEditor-linux-armv7l-\${pkgver}.deb")
        source_aarch64=("astraeditor-\${pkgver}-aarch64.deb::https://github.com/AstraEditor/Desktop/releases/download/${TAG}/AstraEditor-linux-aarch64-\${pkgver}.deb")
        sha256sums_x86_64=('SKIP')
        sha256sums_armv7h=('SKIP')
        sha256sums_aarch64=('SKIP')

        build() {
            cd "\$srcdir"

            case "\$CARCH" in
                x86_64)  debfile="astraeditor-\${pkgver}-x86_64.deb" ;;
                aarch64) debfile="astraeditor-\${pkgver}-aarch64.deb" ;;
                armv7h)  debfile="astraeditor-\${pkgver}-armv7h.deb" ;;
            esac
            bsdtar -xf "\$debfile"
            bsdtar -xf data.tar.xz
        }

        package() {
            cp -r "\$srcdir/opt" "\$pkgdir"
            cp -r "\$srcdir/usr" "\$pkgdir"
            if [ ! -L "\$pkgdir/usr/bin/astraeditor-desktop" ]; then
                install -d "\$pkgdir/usr/bin"
                ln -sf '/opt/AstraEditor/astraeditor-desktop' "\$pkgdir/usr/bin/astraeditor-desktop"
            fi
        }
        EOF

        cat > .SRCINFO << EOF
        pkgbase = astraeditor-bin
          pkgdesc = AstraEditor is a TurboWarp mod used to add more practical features to make your writing lightning fast.
          pkgver = ${VERSION}
          pkgrel = 1
          url = https://github.com/AstraEditor/
          arch = x86_64
          arch = armv7h
          arch = aarch64
          license = GPL3
          depends = alsa-lib 
          depends = gtk3
          depends = nss
          depends = libxss
          depends = xdg-utils
          depends = hicolor-icon-theme
          provides = astraeditor-bin
          source_x86_64=("astraeditor-\${pkgver}-x86_64.deb::https://github.com/AstraEditor/Desktop/releases/download/${TAG}/AstraEditor-linux-amd64-\${pkgver}.deb")
          source_armv7h=("astraeditor-\${pkgver}-armv7h.deb::https://github.com/AstraEditor/Desktop/releases/download/${TAG}/AstraEditor-linux-armv7l-\${pkgver}.deb")
          source_aarch64=("astraeditor-\${pkgver}-aarch64.deb::https://github.com/AstraEditor/Desktop/releases/download/${TAG}/AstraEditor-linux-aarch64-\${pkgver}.deb")
          sha256sums_x86_64=('SKIP')
          sha256sums_armv7h=('SKIP')
          sha256sums_aarch64=('SKIP')
          pkgname = astraeditor-bin
        EOF
    - name: Push to AUR
      uses: KSXGitHub/github-actions-deploy-aur@v4.1.1 
      with:
        pkgname: astraeditor-bin
        pkgbuild: ./PKGBUILD
        assets: |
          .SRCINFO
        commit_username: ${{ secrets.AUR_USERNAME }}
        commit_email: ${{ secrets.AUR_EMAIL }}
        ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
        commit_message: Update AUR package
        ssh_keyscan_types: ed25519
